@media (max-width:764px) {

    .new_game_button {
        width: 110px;
    }

    .new_game {
        font-size: 15px;
    }

    .main_section {
        padding: 50px;
    }

    .section_heading {
        font-size: 32px;
    }

    .score {
        font-size: 72px;
    }

    .current_div {
        width: 160px;
        height: 120px;
        row-gap: 15px;
    }

    .image_div {
        width: 100px;
        height: 100px;
    }

    .roll_hold {
        top: 75%;
    }

    .mid_button {
        padding-inline: 10px;
        font-size: 14px;
    }
}